:root {
    --surface: #C6C6C6;
    --frame: #000;
    --highlight: #FFF;
    --shadow: #555;
    --face: #8B8B8B;
    --face-light: #919191;
    --frame-light: #1F1F1F;

    --text-light: #FCFCFC;
    --text-dark: #3F3F3F;
    --text-shadow: 2px 2px #3E3E3E;
}

* { 
    box-sizing: border-box;
    image-rendering: pixelated;
}

html, body, main {
    height: 100%;
}

@font-face {
    font-family: 'minecraftregular';
    src: url('fonts/minecraftregular-bmg3-webfont.woff2') format('woff2'),
         url('fonts/minecraftregular-bmg3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    --bg-size: 256px 256px;
    margin: 0;
    font-family: 'minecraftregular';

    background: linear-gradient(
        to bottom,
        #7AAAFF,
        #ACD2FF
    ); 
}

body, menu, h1, figure, h2 {
    margin: 0;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background:
            url('assets/texture/End_Sky_\(texture\)_JE2.png'), 
            rgba(0, 0, 0, 0.9);
        background-size: var(--bg-size);
        background-blend-mode: multiply;
    }
} */

main {
    --img-size: 56px;

    display: grid;
    place-items: center;
}

menu[role=tablist] {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 -2px;
    gap: 1rem;

    > button {
        --margin-selected: 1rem;
        background-color: var(--face);
        position: relative;
        border: 0.5rem solid transparent;
        border-image-source: url('assets/gui/button-border-dark.png');
        margin-bottom: -14px;
        aspect-ratio: 1;
        padding: 0 1rem;

        > img {
            width: var(--img-size);
            aspect-ratio: 1;
            user-select: none;
            pointer-events: none;
        }

        &[aria-selected=true] {
            background-color: var(--surface);
            border-image-source: url('assets/gui/button-border.png');
            margin-top: calc(var(--margin-selected) * -1);
            z-index: 2;

            > img {
                margin-top: var(--margin-selected);
            }
        }
    }
}

[role=tabpanel] {
    --inline: 1.5rem;

    background: var(--surface);
    position: relative;
    border: 0.5rem solid transparent;
    border-image-source: url('assets/gui/panel-border.png');
    height: 550px;
    width: 950px;

    > h1 {
        padding: 0.75rem var(--inline) 0.5rem var(--inline);
        color: var(--text-dark);
        font-weight: normal;
    }

    > figure {
        margin-inline: var(--inline);
        background-size: 64px;
        min-height: 460px;
        box-shadow: 
            4px 4px var(--frame-light) inset,
            -4px -4px var(--face-light) inset,
            4px 4px 8px 8px rgba(0, 0, 0, 0.5) inset,
            -4px -4px 8px 8px rgba(0, 0, 0, 0.5) inset;
    }
}

.adv {
    background-color: var(--surface);
    border: 12px solid transparent;
    border-image-source: url('assets/gui/task-border.png');
    position: relative;
    padding: 0.5rem;

    &.goal { border-image-source: url('assets/gui/goal-border.png') }
    &.chal { border-image-source: url('assets/gui/challenge-border.png') }

    &.cmplt { 
        background-color: #AA7E0F;
        border-image-source: url('assets/gui/task-complete-border.png') 
    }
    &.goal.cmplt { border-image-source: url('assets/gui/goal-complete-border.png') }
    &.chal.cmplt { border-image-source: url('assets/gui/challenge-complete-border.png') }

    > img {
        width: var(--img-size);
        aspect-ratio: 1;
        user-select: none;
        pointer-events: none;
    }
}

span.toast {
    background: linear-gradient(
        to bottom,
        #290662,
        #1C063A
    );
    border: 4px solid transparent;
    border-image-source: url('assets/gui/toast-border.png');

    > h2 {
        color: var(--text-light);
        font-weight: normal;
        background: #17091A;
        text-shadow: var(--text-shadow);
        margin: 0.5rem;
    }
}

/* ul.tree-view {
    display: inline-block;
    list-style-type: none;

    ul {
        list-style-type: none;
        padding: 5px 0 5px 20px;

        &:not(:first-child) {
            margin-left: 170px;

            &::after {
                content: '';
                width: 20px;
                border-top: 1px solid #ccc;
                position: absolute;
                left: 150px;
                top: 50%;
                margin-top: 1px;
            }
        }
    }

    li {
        position: relative;
        min-height: 42px;
        display: block;

        &::before {
            content: '';
            height: 100%;
            border-left: 1px solid #ccc;
            position: absolute;
            left: -20px;
        }

        &:first-child::after {
            height: 10px;
            border-radius: 10px 0 0 0;
        }

        &:first-child::before {
            width: 10px;
            height: 50%;
            top: 50%;
            margin-top: 1px;
            border-radius: 10px 0 0 0;
        }

        &::after {
            content: "";
            width: 20px;
            transition: border 0.5s;
            border-top: 1px solid #ccc;
            position: absolute;
            left: -20px;
            top: 50%;
            margin-top: 1px;
        }

        &:last-child::before {
            width: 10px;
            height: 50%;
            border-radius: 0 0 0 10px;
        }

        &:last-child::after {
            height: 10px;
            border-top: none;
            transition: border 0.5s;
            border-bottom: 1px solid #ccc;
            border-radius: 0 0 0 10px;
            margin-top: -9px;
        }

        &:only-child::after {
            width: 10px;
            height: 0px;
            margin-top: 1px;
            border-radius: 0px;
        }

        &:only-child:before {
            display: none;
        }
    }
} */

[role=tabpanel],
.adv, span.toast,
menu[role=tablist] > button {
    background-clip: padding-box;
    border-image-width: 16px;
    border-image-slice: 4;
}